@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-Thin.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "faktum";
  src: url("../src/assets/font/Faktum-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "kirimaru";
  src: url("../src/assets/font/kirimaru.woff2") format("woff2");
}

:root {
  font-family: faktum, Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 100%; */
  font-weight: 400;
  letter-spacing: -0.03rem;

  /* color-scheme: light dark; */
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nav-height: 50px;
  --point-color: #05cb8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #000;
  scroll-behavior: smooth;
}
a:hover {
  color: var(--point-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-color: #e1e6d9; */
  cursor: default;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  font-size: 0.9rem;
  letter-spacing: -0.07rem;
  line-height: 140%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
